body {
    font-family: Arial, sans-serif;
    color: white;
    text-align: center;
    background-image: url('images/logo.png'); /* Caminho para o seu logo */
    background-size: cover; /* Ajusta a imagem para cobrir toda a área de fundo */
    background-repeat: no-repeat; /* Evita que a imagem se repita */
    background-position: center; /* Centraliza a imagem de fundo */
}

header, footer {
    background-color: #ff8c00; /* Cor do Free Fire */
    color: white;
    text-align: center;
    padding: 10px;
}

form {
    background-color: rgba(0, 0, 0, 0.5); /* Fundo semi-transparente */
    color: white;
    padding: 20px;
    border-radius: 10px;
}

input, select {
    margin-bottom: 10px;
    width: 100%;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

button {
    background-color: #ff8c00; /* Cor do Free Fire */
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #ff6f00; /* Cor do Free Fire ao passar o mouse */
}

/* Adicionando estilo para o logotipo de fundo no cabeçalho */
header {
    position: relative;
    text-align: center;
    margin-bottom: 20px;
}

.logo-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px; /* Ajuste conforme necessário */
    overflow: hidden;
    z-index: -1; /* Faz com que o logotipo fique atrás do texto */
}

.logo-container img {
    width: 100%;
    height: auto;
}

/* Estilo para o rodapé */
footer {
    background-color: #282828; /* Cor de fundo do rodapé */
    color: white; /* Cor do texto do rodapé */
    text-align: center; /* Alinha o texto ao centro */
    padding: 10px 0; /* Espaçamento interno */
    position: fixed; /* Fixa o rodapé na parte inferior da página */
    width: 100%; /* Faz o rodapé ocupar toda a largura da página */
    bottom: 0; /* Posiciona o rodapé na parte inferior */
    left: 0; /* Alinha o rodapé à esquerda */
    font-size: 14px; /* Tamanho da fonte do texto */
}
